In [13]:
import pandas as pd

dataset=pd.read_excel('UDJG_CHILD_CONS.xls')
dataset2=pd.read_excel('UDJG_CHILD_FOODS.xls')
dataset3=pd.read_excel('UDJG_CHILD_SUBJ.xls')

In [14]:
columns_to_delete=['SURVEY', 'CONDAY', 'CONMONTH', 'CONYEAR', 'EXCEPTIONDAY', 'TIMEHOUR', 'TIMEMINUTES', 'UNITMEAS', 'BRAND', 'ORFACETSCODE', 'ORFACETS', 'ENFACETS', 'PACKAGE', 'OFACETS', 'ORRECIPECODE', 'ENRECIPEDESC', 'AMOUNTRECIPE', 'FPREP']
dataset=dataset.drop(columns=columns_to_delete, axis=1)
dataset.head(10)

,ORSUBCODE,DAY,WEEK,SEASON,MEAL,PLACE,EATSEQ,FOODEXRCODE,ORRECIPEDESC,ORFOODCODE,AMOUNTFRAW,AMOUNTFCOOKED
0,CE001,1,W3,S5,M1,P1,1,NaN,NaN,414.1.5.3.0,250.0,250.0
1,CE001,1,W3,S5,M1,P1,2,NaN,NaN,204.1.2.5.7,30.0,30.0
2,CE001,1,W3,S5,M1,P1,3,NaN,NaN,207.1.1.6.0,50.0,50.0
3,CE001,1,W3,S5,M3,P1,1,NaN,NaN,101.6.1.4.0,200.0,200.0
4,CE001,1,W3,S5,M3,P1,2,NaN,NaN,101.4.0.0.0,30.0,30.0
5,CE001,1,W3,S5,M3,P1,3,NaN,NaN,206.1.1.0.0,250.0,250.0
6,CE001,1,W3,S5,M3,P1,4,A03VD,piure de cartofi,204.2.1.30.0,284.0,213.0
7,CE001,1,W3,S5,M3,P1,4,A03VD,piure de cartofi,101.1.1.1.0,40.0,40.0
8,CE001,1,W3,S5,M3,P1,4,A03VD,piure de cartofi,612.1.1.0.0,5.0,5.0
9,CE001,1,W3,S5,M3,P1,4,A03VD,piure de cartofi,102.2.2.0.0,40.0,40.0

In [15]:
columns_to_delete2=['SURVEY', 'COMMENTSFOOD', 'ENERGY', 'WATER', 'FAT', 'CARB', 'PROTEINS', 'ALCOHOL', 'ENFOODNAME']
dataset2=dataset2.drop(columns=columns_to_delete2, axis=1)
dataset2.head(10)

     ORFOODCODE      ORFOODNAME FOODEXCODE
0   101.1.1.1.0           lapte      A02LT
1   101.1.1.1.1   lapte de vaca      A02LV
2   101.1.1.1.4  lapte de capra      A02MB
3   101.1.1.1.5   lapte de oaie      A02MC
4   101.1.2.0.1           iaurt      A02NE
5  101.1.2.0.11  iaurt danonino      A02NE
6  101.1.2.0.12   iaurt de baut      A02NQ
7  101.1.2.0.15      iaurt mare      A02NE
8  101.1.2.0.16       iaurt mic      A02NE
9   101.1.2.0.2  iaurt degresat      A02NG

In [16]:
columns_to_delete3=['SURVEY', 'COUNTRY', 'BIRTHDAY', 'BIRTHMONTH', 'BIRTHYEAR', 'FANTYEAR', 'SWEIGHT', 'SHEIGHT', 'SANTDAY', 'SANTMONTH', 'SANTYEAR', 'MWEIGHT', 'MHEIGHT', 'ENRGYINTAKE', 'UNOVREP', 'WF', 'SPECIALCON', 'SPECDIET', 'ACTIVITY', 'ETHNIC', 'FANTMONTH', 'FANTDAY']
dataset3=dataset3.drop(columns=columns_to_delete3, axis=1)
dataset3.head(10)

,ORSUBCODE,GENDER,AGE,WEIGHT,HEIGHT,GEO,EDUCATION,COMMENTSSUBJECT
0,CC021,G1,11,34.0,145.0,RO423,NaN,NaN
1,CC022,G1,15,52.0,178.0,RO423,Middle school,NaN
2,CC023,G1,8,25.0,110.0,RO423,NaN,nu adauga sare in timpul mesei
3,CC024,G1,3,10.0,85.0,RO423,NaN,nu adauga sare in timpul mesei
4,CC025,G1,12,32.0,146.0,RO423,NaN,NaN
5,CC026,G2,12,35.0,152.0,RO423,NaN,NaN
6,CC027,G2,6,24.0,120.0,RO423,NaN,NaN
7,CC028,G2,6,21.0,112.0,RO423,NaN,NaN
8,CC029,G2,14,46.0,160.0,RO423,NaN,NaN
9,CC030,G2,7,31.0,135.0,RO423,NaN,NaN

In [17]:
for i, j in dataset.iterrows():
  #if pd.isna(j['ORRECIPEDESC']) or pd.isna(j['FOODEXRCODE']):
  #if j.isnull().any():
  for i2, j2 in dataset2.iterrows():
    if j['ORFOODCODE']==j2['ORFOODCODE']:
      dataset.at[i, 'FOODEXRCODE'] = dataset2.at[i2, 'FOODEXCODE']
      dataset.at[i, 'ORRECIPEDESC'] = dataset2.at[i2, 'ORFOODNAME']

In [18]:
dataset.head()

,ORSUBCODE,DAY,WEEK,SEASON,MEAL,PLACE,EATSEQ,FOODEXRCODE,ORRECIPEDESC,ORFOODCODE,AMOUNTFRAW,AMOUNTFCOOKED
0,CE001,1,W3,S5,M1,P1,1,A03LG,ceai,414.1.5.3.0,250.0,250.0
1,CE001,1,W3,S5,M1,P1,2,A01NA,gem de caise,204.1.2.5.7,30.0,30.0
2,CE001,1,W3,S5,M1,P1,3,A004Y,paine,207.1.1.6.0,50.0,50.0
3,CE001,1,W3,S5,M3,P1,1,A02QF,branza vaci,101.6.1.4.0,200.0,200.0
4,CE001,1,W3,S5,M3,P1,2,A02ML,smantana,101.4.0.0.0,30.0,30.0

In [19]:
dataset.insert(loc=12, column='GENDER', value='')
dataset.insert(loc=13, column='AGE', value='')
dataset.insert(loc=14, column='WEIGHT', value='')
dataset.insert(loc=15, column='HEIGHT', value='')
dataset.insert(loc=16, column='GEO', value='')

In [20]:
for i, j in dataset.iterrows():
  for i2, j2 in dataset3.iterrows():
    if j['ORSUBCODE']==j2['ORSUBCODE']:
      dataset.at[i, 'GENDER'] = dataset3.at[i2, 'GENDER']
      dataset.at[i, 'AGE'] = dataset3.at[i2, 'AGE']
      dataset.at[i, 'WEIGHT'] = dataset3.at[i2, 'WEIGHT']
      dataset.at[i, 'HEIGHT'] = dataset3.at[i2, 'HEIGHT']
      dataset.at[i, 'GEO'] = dataset3.at[i2, 'GEO']

In [22]:
dataset=dataset.sample(frac=1, random_state=42)
dataset.reset_index(drop=True, inplace=True)
dataset.head(20)

,ORSUBCODE,DAY,WEEK,SEASON,MEAL,PLACE,EATSEQ,FOODEXRCODE,ORRECIPEDESC,ORFOODCODE,AMOUNTFRAW,AMOUNTFCOOKED,GENDER,AGE,WEIGHT,HEIGHT,GEO
0,CI023,1,W3,S2,M3,P1,1,A00FJ,verdeata,204.2.1.27.0,5.000,3.700,G1,4,30.0,100.0,RO214
1,CI347,1,W3,S2,M5,P1,1,A04PY,bors crud,414.0.0.0.1,100.000,100.000,G1,11,45.0,148.0,RO311
2,CI119,1,W3,S2,M3,P1,1,A00JA,ardei gras,204.2.1.15.2,25.000,20.000,G1,15,63.0,170.0,RO223
3,CM011,1,W3,S2,M3,P1,2,A019C,piper,612.2.16.0.0,1.000,1.000,G2,13,42.0,146.0,RO122
4,CL342,1,W3,S2,M3,P1,1,A00FJ,verdeata,204.2.1.27.0,1.376,1.376,G1,13,56.0,160.0,RO422
5,CC022,1,W1,S2,M3,P3,1,A00FJ,verdeata,204.2.1.27.0,1.600,1.600,G1,15,52.0,178.0,RO423
6,CI170,1,W3,S2,M5,P1,2,A031G,ou (crud),110.1.0.0.0,57.000,50.160,G1,17,68.0,174.0,RO213
7,CI288,1,W3,S2,M1,P1,1,A004Y,paine,207.1.1.6.0,25.000,25.000,G1,17,65.0,165.0,RO123
8,CI224,1,W3,S2,M3,P1,1,A02ML,smantana,101.4.0.0.0,15.000,15.000,G1,10,52.0,145.0,RO317
9,CI272,1,W3,S2,M5,P1,1,A02ML,smantana,101.4.0.0.0,12.500,12.500,G1,16,76.0,178.0,RO313
10,CI094,1,W3,S2,M5,P1,1,A037D,ulei,202.1.2.1.0,20.000,20.000,G2,13,67.0,171.0,RO224
11,CI290,1,W3,S2,M3,P1,2,A04QN,condimente,612.2.0.0.0,0.619,0.619,G1,11,26.0,132.0,RO123
12,CL265,1,W3,S4,M3,P1,1,A00ZD,pasta de rosii,612.6.4.0.0,19.685,19.685,G1,9,39.0,139.0,RO124
13,CL262,1,W3,S4,M1,P1,1,A004Y,paine,207.1.1.6.0,100.000,100.000,G2,18,50.0,168.0,RO124
14,CI090,1,W3,S2,M3,P1,1,A004Y,paine,207.1.1.6.0,25.000,25.000,G1,9,27.0,130.0,RO412
15,CI268,1,W3,S2,M3,P1,1,A00JA,ardei gras,204.2.1.15.2,15.000,12.000,G1,17,63.0,182.0,RO313
16,CI192,1,W3,S2,M3,P1,2,A00GZ,usturoi,204.2.1.2.0,10.000,9.000,G2,12,44.0,158.0,RO424
17,CI194,1,W3,S2,M3,P1,2,A04MQ,ficat preparat,108.2.2.0.19,429.000,300.000,G2,15,51.0,169.0,RO424
18,CI212,1,W3,S2,M3,P1,1,A00HC,ceapa,204.2.1.3.0,100.000,100.000,G1,18,75.0,180.0,RO125
19,CI142,1,W3,S2,M3,P1,1,A00ZD,pasta de rosii,612.6.4.0.0,25.000,25.000,G2,9,27.0,140.0,RO111

In [1]:
dataset.to_csv('ProcessedData.csv', index=False, header=True, sep=';')

NameError: name 'dataset' is not defined